<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/10af0335f4.js" crossorigin="anonymous"></script>



</head>
<body class="foto-home">
    
    <header>
        <nav> 
            <ul type="none" class="barra" > 
        <li><a id="fuentegrande" href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/music">MUSIC</a></li>
        <li><a href="/contact">CONTACT</a></li>
     </ul>
        </nav>
        <nav>
            <ul type="none" class="redes">
                <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter fa-lg" style="color: #000000;"></i></a></li>
                <li><a href="https://facebook.com/"target="_blank"><i class="fa-brands fa-square-facebook fa-lg" style="color: #000000;"></i></a></li>
                <li><a href="https://open.spotify.com/intl-es/album/5Dbax7G8SWrP9xyzkOvy2F" target="_blank"><i class="fa-brands fa-spotify fa-lg" style="color: #000000;"></i></a></li>
                <li><a href="https://apple.com/"target="_blank"><i class="fa-brands fa-apple fa-lg" style="color: #000000;"></i></a></li>
                <li><a href="https://amazon.com/"target="_blank"><i class="fa-brands fa-amazon fa-lg" style="color: #000000;"></i></a></li>
                <li><a href="https://instagram.com/"target="_blank"><i class="fa-brands fa-instagram fa-lg" style="color: #000000;"></i></a></li>
            </ul>

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            
     </nav>
    </header>
                
    <section>
        <h2 class="subtitulo-home">EMILIA <br> COLE // </h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="titulo-home">TWIST IN MY REALITY </h1>
        

    </section>

</body>
</html>


